body {
    width: 70vw;
    margin: 0 auto
}
header {
    background: url(/images/pizza.jpg) no-repeat top;
    background-size: cover;
    height: 50vh;
}
h2 {text-align: center;}
input {
    display: flex;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
}
#displayOrder {
    height: 20vh;
    width: 20vw;
    background: #eee;
}
#pizzaOrderForm input {
    display: flex;
    width: 1vw;
}
#pizzaOrderForm input p {
    
}